@model IEnumerable<Forum.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<center>
    <h1>Posts</h1>
    <button style="background-color: #217d18; color: white; border-radius: 10px;">
        <a style="text-decoration: none; color: black" asp-action="Create">Create New</a>
    </button>
</center>

<div style="margin-left: 15%; margin-right: 15%">
    <ul style="list-style-type: none">
    @foreach (var item in Model)
    {
        <div style="border-radius: 15px; background-color: #92de11; margin-top: 25px;">
            <div style="margin: 20px;">
                <div style="display: inline-block; margin-left: 20px;">
                    <b>User: </b>@Html.DisplayFor(modelItem => item.userId)
                </div>
                <div style="display: inline-block; margin-left: 20px;">
                    <b>Date: </b>@Html.DisplayFor(modelItem => item.createdAt)
                </div>
                <div style="display: inline-block; margin-left: 20px;">
                    <b>Tags: </b>
                </div>
                <div>
                    <strong>@Html.DisplayFor(modelItem => item.title)</strong>
                </div>
                @Html.DisplayFor(modelItem => item.content)
                <div style="float: right">
                    <span>@Html.DisplayFor(modelItem => item.likes)</span>
                    <button style="border-radius: 10px; background-color: #5a9c1f">Like</button> &nbsp
                    <button style="border-radius: 10px; background-color: #9c2319">Dislike</button>
                    <span>@Html.DisplayFor(modelItem => item.dislikes)</span>
                </div>
            </div>
    </div>
    }
    </ul>
</div>


